.heading2 {
    color: #1E2635;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 2%;
    text-align: center;
}

.skills {
    margin-top: 10%;

}

.flex2 {
    display: flex;
    width: 100%;
}

.contents {
    width: 95%;
    /* background-color: #1E2635; */
    margin-left: 2.5%;
    border-radius: 90px;
    padding: 50px 0px 20px 0px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}